body {
    margin: 0;
    background-image: url("../img/fotomosaico_venue.png");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 1000px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

canvas {
    display: block;
}

.myButton {
	background-color:#000000;
	border-radius:8px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
}

.oculto{
    display: none;
}

.visible{
	display: block;
}

.ocultoCanvas{
    display: none;
}

.visibleCanvas{
	display: block;
}

.ocultoBtn{
	visibility: hidden;
}

.visibleBtn{
	visibility: visible;
}

.camaraSelfie{
	border: 1px;
	border-color: #000000;
	width: 50%;
	height: 50%;
	left: 25%;
	margin-top: 5%;
}

.camaraSelfie2{
	border: 1px;
	border-color: #000000;
	width: 50%;
	height: 50%;
	left: 25%;
	margin-top: 5%;
	position: relative;
}

.marco{
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	/* background-color: grey; */
	border-radius: 10px;
	align-content: center;
	text-align: center;
}